<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.email.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.shop.email.entity.Orders" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="global_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="buyer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="seller_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goods_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="counts" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="address_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="buyer_submit" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="seller_submit" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, global_id, buyer_id, seller_id, goods_id, price, counts, address_id, buyer_submit, 
    seller_submit
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shop.email.entity.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shop.email.entity.OrdersExample" >
    delete from tb_orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shop.email.entity.Orders" >
    insert into tb_orders (id, global_id, buyer_id, 
      seller_id, goods_id, price, 
      counts, address_id, buyer_submit, 
      seller_submit)
    values (#{id,jdbcType=INTEGER}, #{globalId,jdbcType=BIGINT}, #{buyerId,jdbcType=INTEGER}, 
      #{sellerId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{counts,jdbcType=INTEGER}, #{addressId,jdbcType=INTEGER}, #{buyerSubmit,jdbcType=BIT}, 
      #{sellerSubmit,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.email.entity.Orders" >
    insert into tb_orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="globalId != null" >
        global_id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="counts != null" >
        counts,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="buyerSubmit != null" >
        buyer_submit,
      </if>
      <if test="sellerSubmit != null" >
        seller_submit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="globalId != null" >
        #{globalId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="buyerSubmit != null" >
        #{buyerSubmit,jdbcType=BIT},
      </if>
      <if test="sellerSubmit != null" >
        #{sellerSubmit,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shop.email.entity.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from tb_orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_orders
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.globalId != null" >
        global_id = #{record.globalId,jdbcType=BIGINT},
      </if>
      <if test="record.buyerId != null" >
        buyer_id = #{record.buyerId,jdbcType=INTEGER},
      </if>
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.counts != null" >
        counts = #{record.counts,jdbcType=INTEGER},
      </if>
      <if test="record.addressId != null" >
        address_id = #{record.addressId,jdbcType=INTEGER},
      </if>
      <if test="record.buyerSubmit != null" >
        buyer_submit = #{record.buyerSubmit,jdbcType=BIT},
      </if>
      <if test="record.sellerSubmit != null" >
        seller_submit = #{record.sellerSubmit,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_orders
    set id = #{record.id,jdbcType=INTEGER},
      global_id = #{record.globalId,jdbcType=BIGINT},
      buyer_id = #{record.buyerId,jdbcType=INTEGER},
      seller_id = #{record.sellerId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      price = #{record.price,jdbcType=INTEGER},
      counts = #{record.counts,jdbcType=INTEGER},
      address_id = #{record.addressId,jdbcType=INTEGER},
      buyer_submit = #{record.buyerSubmit,jdbcType=BIT},
      seller_submit = #{record.sellerSubmit,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.email.entity.Orders" >
    update tb_orders
    <set >
      <if test="globalId != null" >
        global_id = #{globalId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="counts != null" >
        counts = #{counts,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="buyerSubmit != null" >
        buyer_submit = #{buyerSubmit,jdbcType=BIT},
      </if>
      <if test="sellerSubmit != null" >
        seller_submit = #{sellerSubmit,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.email.entity.Orders" >
    update tb_orders
    set global_id = #{globalId,jdbcType=BIGINT},
      buyer_id = #{buyerId,jdbcType=INTEGER},
      seller_id = #{sellerId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      counts = #{counts,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      buyer_submit = #{buyerSubmit,jdbcType=BIT},
      seller_submit = #{sellerSubmit,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>